*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 .topContainer{
    display: flex;
    padding: 10px;
 }
  .topContainer >div{
      margin: 20px;
  }
 .imageContainer {
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .imageContainer > img{
     height: 60%;
     width: 60%;
 }
 div {
     text-align: center;
 }